.tiles {
    width: 399px;
    margin: 100px auto;
}

.tiles div {
    width: 133px;
    height: 133px;
    float: left;
}

.tile-0 {
    background-image: url(../../../../../../static/genimg/tile-0.a4615be2.png);
}

.tile-1 {
    background-image: url(../../../../../../static/genimg/tile-1.de39a5a8.png);
}

.tile-3 {
    background-image: url(../../../../../../static/genimg/tile-3.8462e8b8.png);
}

.tile-6 {
    background-image: url(../../../../../../static/genimg/tile-6.3b351883.png);
}
.tile-2 {
    background-image: url(../../../../../../static/genimg/tile-2.f8677077.png);
}

.tile-4 {
    background-image: url(../../../../../../static/genimg/tile-4.529062d2.png);
}

.tile-7 {
    background-image: url(../../../../../../static/genimg/tile-7.355726d0.png);
}

.tile-8 {
    background-image: url(../../../../../../static/genimg/tile-8.dbf391c1.png);
}