.tile-2 {
    background-image: url(../../img/tile-2.png);
}

.tile-4 {
    background-image: url(../img/tile-4.png);
}

.tile-7 {
    background-image: url(img/tile-7.png);
}

.tile-8 {
    background-image: url(img/tile-8.png);
}